body {
  font-family: Arial;
}

.navbar {
  background: #0d6efd;
}

.navbar a {
  color: white !important;
}

.hero {
  background: #0d6efd;
  color: white;
  padding: 80px 20px;
}

.job-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  background: #f9f9f9;
}

footer {
  background: #0d6efd;
  color: white;
  text-align: center;
  padding: 10px;
}
